In [8]:
#A

def func(names):
    for name in names:
        print(name)

names = ['Kasia', 'Wojtek', 'Asia', 'Kamil', 'Krzysiu']

func(names)

Kasia
Wojtek
Asia
Kamil
Krzysiu

In [9]:
#B1

def x2(numbers):
    res = []
    for number in numbers:
        res.append(number * 2)
    return res

numbers = [3, 5, 8, 9, 12]

x2(numbers)

[6, 10, 16, 18, 24]

In [10]:
#B2

def x2(numbers):
    return [number * 2 for number in numbers]

numbers = [3, 5, 8, 9, 12]

x2(numbers)

[6, 10, 16, 18, 24]

In [11]:
#C

def even(numbers):
    for number in numbers:
        if number % 2 == 0:
            print(number)
            
numbers = [12, 24, 3, 82, 7, 90, 34, 21, 77, 44]

even(numbers)

12
24
82
90
34
44

In [14]:
#D

def func(numbers):
    for i in range(0, len(numbers), 2):
        print(numbers[i])
        
numbers = [12, 24, 3, 82, 7, 90, 34, 21, 77, 44]

func(numbers)

12
3
7
34
77