In [49]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks
    def __str__(self):
        return f'Imie: {self.name}'

In [50]:
class Library:
    def __init__(self, city, street, zip_code):
        self.city = city
        self.street = street
        self.zip_code = zip_code
    def __str__(self):
        return f'Miasto: {self.city}, Ulica: {self.street}, Kod: {self.zip_code}'

In [51]:
class Employee:
    def __init__(self, first_name, last_name, hire_date, birth_date, city, street, zip_code, phone):
        self.first_name = first_name
        self.last_name = last_name
        self.hire_date = hire_date
        self.birth_date = birth_date
        self.city = city
        self.street = street
        self.zip_code = zip_code
        self.phone = phone
    def __str__(self):
        return f'Imię: {self.first_name}, Nazwisko: {self.last_name}, Data zatrudnienia: {self.hire_date}, Data urodzenia: {self.birth_date}, Miasto: {self.city}, Ulica: {self.street}, Kod: {self.zip_code}'

In [52]:
class Book:
    def __init__(self, library, publication_date, author_name, author_surname, number_of_pages):
        self.library = library
        self.publication_date = publication_date
        self.author_name = author_name
        self.author_surname = author_surname
        self.number_of_pages = number_of_pages
    def __str__(self):
        return f'BIBLIOTEKA: {self.library.__str__()} \n KSIĄŻKA: Data publikacji: {self.publication_date}, Imię: {self.author_name}, Nazwisko: {self.author_surname}, Liczba stron: {self.number_of_pages}'

In [53]:
class Order:
    def __init__(self, employee, student, books, order_date):
        self.employee = employee
        self.student = student
        self.books = books
        self.order_date = order_date
    def __str__(self):
        return f' PRACOWNIK: {self.employee.__str__()} \n STUDENT: {self.student.__str__()} \n {self.books.__str__()} \n Data: {self.order_date}'

In [54]:
l1 = Library('Gliwice', 'Zwycięstwa', '44-100')
l2 = Library('Gliwice', 'Wolności', '44-100')
b1 = Book(l1, '17.10.2022', 'Jan', 'Kowalski', 250)
b2 = Book(l1, '10.10.2022', 'Kamil', 'Paluch', 350)
b3 = Book(l1, '7.10.2022', 'Grzegorz', 'Grzyb', 150)
b4 = Book(l1, '5.10.2022', 'Kacper', 'Nowak', 50)
b5 = Book(l1, '1.10.2022', 'Ula', 'Kowalska', 40)
e1 = Employee('Adam', 'Kowal', '12.08.2017', '10.02.1990', 'Gliwice', 'Zwycięstwa', '44-100', '509238129')
e2 = Employee('Kamil', 'Biskup', '1.05.2009', '10.07.1975', 'Gliwice', 'Długa', '44-100', '509258629')
e3 = Employee('Agnieszka', 'Osa', '12.02.2015', '10.04.1995', 'Gliwice', 'Piękna', '44-100', '302238122')
s1 = Student('Aleksandra', [23, 12, 78, 90])
s2 = Student('Wojciech', [13, 62, 28, 60])
s3 = Student('Karol', [77, 98, 34, 100])
o1 = Order(e1, s2, b4, '17.10.2022')
o2 = Order(e3, s1, b1, '13.10.2022')

In [55]:
print(o1)
print(o2)

 PRACOWNIK: Imię: Adam, Nazwisko: Kowal, Data zatrudnienia: 12.08.2017, Data urodzenia: 10.02.1990, Miasto: Gliwice, Ulica: Zwycięstwa, Kod: 44-100
 STUDENT: Imie: Wojciech
 BIBLIOTEKA: Miasto: Gliwice, Ulica: Zwycięstwa, Kod: 44-100
 KSIĄŻKA: Data publikacji: 5.10.2022, Imię: Kacper, Nazwisko: Nowak, Liczba stron: 50
 Data: 17.10.2022
 PRACOWNIK: Imię: Agnieszka, Nazwisko: Osa, Data zatrudnienia: 12.02.2015, Data urodzenia: 10.04.1995, Miasto: Gliwice, Ulica: Piękna, Kod: 44-100
 STUDENT: Imie: Aleksandra
 BIBLIOTEKA: Miasto: Gliwice, Ulica: Zwycięstwa, Kod: 44-100
 KSIĄŻKA: Data publikacji: 17.10.2022, Imię: Jan, Nazwisko: Kowalski, Liczba stron: 250
 Data: 13.10.2022